<style type="text/css">
    .jenkins-build-status {
        color: white;
        text-align: center;
        font-size: 16px;
        opacity: 0.7;        
    }
    .jenkins-build-status a {
        color: white;
    }
    .passed {
        background-color: green;
    }
    .failed {
        background-color: red;
    }
    .disabled a {
        color: #000;
    }
</style>
<div class="jenkins-build-status box <%= build_status['status'] %>">
    <a href="<%= build_status['url'] %>" target="_blank">
        Tests <%= build_status['status'] %>
    </a>
</div>